/* BOOTSTRAP CSS DUZENLEMELERI */

.custom-pills .nav-link {
    color: #495057;                /* pasif yazı */
}

.custom-pills .nav-link.active {
    background-color: #343a40;     /* aktif arka plan */
    color: #fff;                   /* aktif yazı */
}

.custom-pills .nav-link:hover {
    background-color: #ced4da;
}

.custom-pills .nav-link.active:hover {
    background-color: #343a40; 
}

#statsPanel{
    --bs-offcanvas-width: 600px;
}

#infoPanel{
    --bs-offcanvas-width: 600px;
}

#infoPanel .offcanvas-body {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.offcanvas-body::-webkit-scrollbar {
    width: 6px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* LAYER SWITCHER */
.layer-switcher {
    top: 10px !important;
    left: 10px !important;
    right: auto !important;
}

.ol-zoom {
    top: .5em !important;
    right: .5em !important;
    left: auto !important;
}

/* HTML DUZENLEMELERI */

html,
body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    height: calc(100vh - 58px - 36px);
}

.map-container {
    height: 100%;
    position: relative;
    background-color: #e9ecef;
}

.stats-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 330px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    padding: 16px;
    width: 300px;
    border-radius: 6px;
}

.modal-actions {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}


.ol-popup {
    position: absolute;
    background-color: #ffffff; /* dark */
    color: #000000;
    padding: 12px 14px;
    border-radius: 8px;
    min-width: 280px;
    bottom: 12px;
    left: -140px;
    z-index: 1000;
}

.ol-popup::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #ffffff transparent;
}

.popup-closer {
    position: absolute;
    top: 6px;
    right: 6px;
}

#legendWrapper {
    position: absolute;
    right: 10px;
    bottom: 40px;
    z-index: 800;
}

#legendContainer{
    position: absolute;
    right: 2px;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.4);
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    z-index: 800;
    max-height: 600px;
    overflow-y: auto;
    display: none;
}

#legendContainer::-webkit-scrollbar {
    width: 1px;
    /* scrollbar genişliği */
}

#legendContainer::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

#legendContainer::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legend {
    width: 260px;
    font-size: 11px;
    color: #000000;
    background: rgba(255, 255, 255, 0.86);
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.legend-title {
    margin-bottom: 4px;
    font-weight: 600;
}

.legend-bar {
    height: 14px;
    margin: 4px 0;
    border-radius: 2px;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
}

/* İL özel renk rampı */
.il {
    background: linear-gradient(
        to right,
        rgba(55, 126, 184, 0.059)
    );
    border: 2px solid  #265980;
    width: 18px;
}

/* FAY özel renk rampı */
.fay {
    background: linear-gradient(
        to right,
        #005df6
    );
    height: 3px;
    width: 30px;
}

/* PGA özel renk rampı */
.pga {
    background: linear-gradient(
        to right,
        #ffffc0,
        #fed977,
        #fea245,
        #f24523,
        #bd0026,
        #a6005e
    );
}

/* DANGER özel renk rampı */
.danger {
    background: linear-gradient(
        to right,
        #3b0f70,
        #2c7bb6,
        #00a6ca,
        #7fd34e,
        #f9d057,
        #f29e2e,
        #e34a33,
        #7f0000 
    );
}

/* VS30 özel renk rampı */
.legend-labels.vs30{
    display: flex;
    justify-content:start;
}

/* VS30 özel renk rampı */
.legend-label-color{
    width: 18px; 
    height: 14px;
    margin-right: 5px;
    border-radius: 2px;
}

/* EQ özel renk rampı */
.legend-row {
    display: grid;
    grid-template-columns: 32px auto;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.legend-dot {
    border-radius: 50%;
    justify-self: center;
}

/* Boyut + renk birlikte */
.mag8 {
    width: 30px;
    height: 30px;
    background: #7B1FA2;
}

.mag7 {
    width: 27px;
    height: 27px;
    background: rgba(211, 47, 47, 1);
}

.mag6 {
    width: 24px;
    height: 24px;
    background: rgba(255, 87, 36, 1);
}

.mag5 {
    width: 21px;
    height: 21px;
    background: rgba(255, 152, 0, 1);
}

.mag4 {
    width: 17px;
    height: 17px;
    background: rgba(255, 235, 59, 1);
}

.mag3 {
    width: 14px;
    height: 14px;
    background: rgba(139, 195, 74, 1);
}

.mag2 {
    width: 11px;
    height: 11px;
    background: rgba(76, 175, 80, 1);
}

.heatmap {
    background: linear-gradient(
        to right,
        rgba(0, 0, 255, 0),
        rgba(0, 0, 255, 1),
        rgba(0, 255, 255, 1),
        rgba(0, 255, 0, 1),
        rgba(255, 255, 0, 1),
        rgba(255, 0, 0, 1)
    );
}

.legend-scale {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 2px;
}

.legend-heatmap-note {
    font-size: 10px;
    margin-top: 4px;
}

#infoOffcanvas{
    border-radius: 10px;
}

@media (min-width: 992px) {
    .offcanvas-lg {
        position: static;
        transform: none !important;
        visibility: visible !important;
        height: 100%;
        border-right: 1px solid #dee2e6;
        width: 300px;
    }
}