html,
body {
    height: 100%;
    margin: 0;
}

#main-container {
    height: calc(100vh - 88px);
}

#sidebar {
    position: absolute;
    width: 320px;
    height: 98%;
    top: 5px;
    left: 5px;
    /* opacity: 0.4; */
    border-radius: 10px;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
    transform: translateX(-100%);
}

#sidebar:hover {
    opacity: 1.0;
}

#sidebar::-webkit-scrollbar {
    width: 6px;
    /* scrollbar genişliği */
}

#sidebar::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

#sidebar::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-container {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    display: none;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.cityFilterAnalysisDiv {
    position: absolute;
    bottom: 10px;
    left: 330px;
    width: 220px;
    height: 180px;
    padding: 10px;
    background: white;
    opacity: 0.4;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.cityFilterAnalysisDiv:hover {
    opacity: 1.0;
}

.ol-zoom {
    top: .5em !important;
    right: .5em !important;
    left: auto !important;
}

.statsPanel {
    position: fixed;
    right: 0;
    top: 56px;
    width: 600px;
    height: 87%;
    background: #fff;
    padding: 20px;
    /* opacity: 0.4; */
    border-radius: 10px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform  0.3s ease-in-out;
    z-index: 900;
}

.statsPanel.visible {
    transform: translateX(-50px);
}

.statsPanel-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.statsPanel-closer:after {
    content: "✖";
}

.statsPanel::-webkit-scrollbar {
    width: 6px;
}

.statsPanel::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

.statsPanel::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.layer-switcher {
    top: 10px !important;
    left: 330px !important;
    right: auto !important;
    bottom: auto !important;
    /* opacity: 0.5; */
    z-index: 9999 !important;
}

.layer-switcher:hover {
    opacity: 1.0;
}

canvas {
    cursor: grab;
}
canvas:active {
    cursor: grabbing;
}

.pointsAnalysisDiv {
    position: absolute;
    bottom: 200px;
    left: 330px;
    width: 220px;
    height: 230px;
    padding: 10px;
    background: white;
    opacity: 0.4;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.pointsAnalysisDiv:hover {
    opacity: 1.0;
}

.modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: #fff;
    padding: 16px;
    width: 300px;
    border-radius: 6px;
}

.modal-actions {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#infoPanel {
    position: absolute;
    top: 10px;
    left: 700px;
    width: 500px;
    height: 98%;
    /* max-height: calc(100vh - 80px); */
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    overflow-y: auto;
    font-size: 13px;
    z-index: 2000;
    display: none;
}

#infoPanel::-webkit-scrollbar {
    width: 6px;
    /* scrollbar genişliği */
}

#infoPanel::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

#infoPanel::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.closePanel {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.closePanel:after {
    content: "✖";
}

#infoPanel h2 {
    margin: 0;
    padding: 12px;
    background: #2c3e50;
    color: white;
    font-size: 14px;
    text-align: center;
}

.point-card {
    border-bottom: 1px solid #ddd;
}

.point-header {
    padding: 10px 12px;
    background: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
}

.point-header:hover {
    background: #eaeaea;
}

.point-body {
    display: none;
    padding: 10px 12px;
}

.point-section {
    margin-bottom: 10px;
}

.point-section-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.value-row {
    margin-left: 6px;
    line-height: 1.4em;
}

.facility-item {
    padding: 6px;
    margin-bottom: 6px;
    background: #f8f8f8;
    border-radius: 4px;
    border-left: 3px solid #3498db;
}

.facility-item span {
    display: block;
}

.facility-distance {
    font-weight: bold;
    margin-top: 2px;
}

#legendContainer{
    position: absolute;
    right: 10px;
    bottom: 80px;
    background: rgba(255, 255, 255, 0.4);
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    z-index: 800;
    max-height: 600px;
    overflow-y: auto;
}

#legendContainer::-webkit-scrollbar {
    width: 1px;
    /* scrollbar genişliği */
}

#legendContainer::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

#legendContainer::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legend {
    width: 260px;
    font-size: 11px;
    color: #000000;
    background: rgba(255, 255, 255, 0.86);
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.legend-title {
    margin-bottom: 4px;
    font-weight: 600;
}

.legend-bar {
    height: 14px;
    margin: 4px 0;
    border-radius: 2px;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
}

/* İL özel renk rampı */
.il {
    background: linear-gradient(
        to right,
        rgba(55, 126, 184, 0.059)
    );
    border: 2px solid  #265980;
    width: 18px;
}

/* FAY özel renk rampı */
.fay {
    background: linear-gradient(
        to right,
        #005df6
    );
    height: 3px;
    width: 30px;
}

/* PGA özel renk rampı */
.pga {
    background: linear-gradient(
        to right,
        #ffffc0,
        #fed977,
        #fea245,
        #f24523,
        #bd0026,
        #a6005e
    );
}

/* DANGER özel renk rampı */
.danger {
    background: linear-gradient(
        to right,
        #3b0f70,
        #2c7bb6,
        #00a6ca,
        #7fd34e,
        #f9d057,
        #f29e2e,
        #e34a33,
        #7f0000 
    );
}

/* VS30 özel renk rampı */
.legend-labels.vs30{
    display: flex;
    justify-content:start;
}

/* VS30 özel renk rampı */
.legend-label-color{
    width: 18px; 
    height: 14px;
    margin-right: 5px;
    border-radius: 2px;
}

/* EQ özel renk rampı */
.legend-dot {
    border-radius: 50%;
    border: 1px solid #333;
    display: inline-block;
}

/* Boyut + renk birlikte */
.mag8 {
    width: 30px;
    height: 30px;
    background: #7B1FA2;
}

.mag7 {
    width: 27px;
    height: 27px;
    background: rgba(211, 47, 47, 1);
}

.mag6 {
    width: 24px;
    height: 24px;
    background: rgba(255, 87, 36, 1);
}

.mag5 {
    width: 21px;
    height: 21px;
    background: rgba(255, 152, 0, 1);
}

.mag4 {
    width: 17px;
    height: 17px;
    background: rgba(255, 235, 59, 1);
}

.mag3 {
    width: 14px;
    height: 14px;
    background: rgba(139, 195, 74, 1);
}

.mag2 {
    width: 11px;
    height: 11px;
    background: rgba(76, 175, 80, 1);
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.heatmap {
    background: linear-gradient(
        to right,
        rgba(0, 0, 255, 0),
        rgba(0, 0, 255, 1),
        rgba(0, 255, 255, 1),
        rgba(0, 255, 0, 1),
        rgba(255, 255, 0, 1),
        rgba(255, 0, 0, 1)
    );
}

.legend-scale {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin-top: 2px;
}

.legend-heatmap-note {
    font-size: 10px;
    margin-top: 4px;
}