html,
body {
    height: 100%;
    margin: 0;
}

#main-container {
    height: calc(100vh - 88px);
}

#sidebar {
    position: absolute;
    width: 320px;
    height: 98%;
    top: 5px;
    left: 5px;
    /* opacity: 0.4; */
    border-radius: 10px;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
    transform: translateX(-100%);
}

#sidebar:hover {
    opacity: 1.0;
}

#sidebar::-webkit-scrollbar {
    width: 6px;
    /* scrollbar genişliği */
}

#sidebar::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

#sidebar::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-container {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    display: none;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.cityFilterAnalysisDiv {
    position: absolute;
    bottom: 10px;
    left: 330px;
    width: 220px;
    height: 180px;
    padding: 10px;
    background: white;
    opacity: 0.4;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.cityFilterAnalysisDiv:hover {
    opacity: 1.0;
}

.ol-zoom {
    top: .5em !important;
    right: .5em !important;
    left: auto !important;
}

.statsPanel {
    position: fixed;
    right: 0;
    top: 56px;
    width: 600px;
    height: 87%;
    background: #fff;
    padding: 20px;
    /* opacity: 0.4; */
    border-radius: 10px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform  0.3s ease-in-out;
    z-index: 900;
}

.statsPanel.visible {
    transform: translateX(-50px);
}

.statsPanel-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.statsPanel-closer:after {
    content: "✖";
}

.statsPanel::-webkit-scrollbar {
    width: 6px;
}

.statsPanel::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

.statsPanel::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.layer-switcher {
    top: 10px !important;
    left: 330px !important;
    right: auto !important;
    bottom: auto !important;
    /* opacity: 0.5; */
}

.layer-switcher:hover {
    opacity: 1.0;
}

canvas {
    cursor: grab;
}
canvas:active {
    cursor: grabbing;
}